*{
    margin: 0px;
    padding: 0px;
}  

body{
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    color: #0E121B;
}

button {
    background: none;
    border: none;
    color: #0E121B;
    font-family: 'Inter', sans-serif;
}

