body.Inter{
    font-family: 'Inter', sans-serif;
}

body.Noto{
    font-family: 'NotoSerif', sans-serif;
}
body.SourceCode{
    font-family: 'SourceCodePro', sans-serif;
}


body.light {
    background: #FFFFFF;
    color: #0E121B;
}

body.dark {
    background: #0E121B;
    color: #FFFFFF;
}