@import 'variables';

body.Inter{
    font-family: 'Inter', sans-serif;
}

body.Noto{
    font-family: 'NotoSerif', sans-serif;
}
body.SourceCode{
    font-family: 'SourceCodePro', sans-serif;
}


body.light {
    background: $Neutral0;
    color: $Neutral950;
    button {
        color: $Neutral950;
    }
}

body.dark {
    background: $Neutral950;
    color: $Neutral0;
    button {
        color: $Neutral0;
    }
}