@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* Defines the weight range the variable font supports */
  font-style: normal; /* For the normal upright font */
}
@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* Same weight range for italic */
  font-style: italic; /* For the italic font */
}
@font-face {
  font-family: "NotoSerif";
  src: url("../src/assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerif";
  src: url("../src/assets/fonts/noto-serif/NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../src/assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../src/assets/fonts/source-code-pro/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
:root {
  --BaseWhite: #FFFFFF;
  --BaseBlack: #0E121B;
  --Neutral0: #FFFFFF;
  --Neutral50: #F5F7FA;
  --Neutral100: #F3F5F8;
  --Neutral200: #E0E4EA;
  --Neutral300: #CACFD8;
  --Neutral400: #99A0AE;
  --Neutral500: #717784;
  --Neutral600: #525866;
  --Neutral700: #2B303B;
  --Neutral800: #232530;
  --Neutral900: #191B25;
  --Neutral950: #0E121B;
  --Blue50: #EBF1FF;
  --Blue500: #335CFF;
  --Blue700: #2547D0;
  --Green50: #E0FAEC;
  --Green100: #D1FBE9;
  --Green500: #21C16B;
  --Red50: #FFEBEC;
  --Red100: #FFD5D8;
  --Red500: #FB3748;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter", sans-serif;
  background: #FFFFFF;
  color: #0E121B;
}

button {
  background: none;
  border: none;
  color: #0E121B;
  font-family: "Inter", sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Inter", sans-serif;
  color: #0E121B;
}

input::placeholder,
textarea::placeholder {
  font-family: "Inter", sans-serif;
  color: #0E121B;
}

:root {
  --BaseWhite: #FFFFFF;
  --BaseBlack: #0E121B;
  --Neutral0: #FFFFFF;
  --Neutral50: #F5F7FA;
  --Neutral100: #F3F5F8;
  --Neutral200: #E0E4EA;
  --Neutral300: #CACFD8;
  --Neutral400: #99A0AE;
  --Neutral500: #717784;
  --Neutral600: #525866;
  --Neutral700: #2B303B;
  --Neutral800: #232530;
  --Neutral900: #191B25;
  --Neutral950: #0E121B;
  --Blue50: #EBF1FF;
  --Blue500: #335CFF;
  --Blue700: #2547D0;
  --Green50: #E0FAEC;
  --Green100: #D1FBE9;
  --Green500: #21C16B;
  --Red50: #FFEBEC;
  --Red100: #FFD5D8;
  --Red500: #FB3748;
}

body.Inter {
  font-family: "Inter", sans-serif;
}

body.Noto {
  font-family: "NotoSerif", sans-serif;
}

body.SourceCode {
  font-family: "SourceCodePro", sans-serif;
}

body.light {
  background: #FFFFFF;
  color: #0E121B;
}
body.light button {
  color: #0E121B;
}

body.dark {
  background: #0E121B;
  color: #FFFFFF;
}
body.dark button {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */