@use "../../../partials/mixins" as mixins;
@import '../../../partials/variables';


.newNote{
    
    background: $BaseWhite;
    color: $Neutral950;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 16px;

    @include mixins.tablet{
        gap: 16px;
        padding: 20px 32px;
    }

    hr{
        background-color: $Neutral200;
        border: none;
        height: 1px;
    }
}


body.dark {
    .newNote{
        background: $Neutral950;
        color: $BaseWhite;

        hr{
            background-color: $Neutral800;
        }
    }
}