.home{
    display: flex;
    flex-direction: row;
}

.mainHomeTablet{
    height: 100vh;
}

.homeDesktop{
    display: flex;

    .mainHomeDesktop{
        width: 100%;
    }
}

.notesContainer{
    display: flex;
}