@use "../../../../partials/mixins" as mixins;
@import '../../../../partials/variables';

.ArciveDeleteMenu{
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    padding-bottom: 0px;
    gap: 12px;
    min-width: 172px;
    max-width: 258px;
    height: 60%;

    button{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        border: 1px solid $Neutral300;
        border-radius: 8px;
        min-width: 100%;
        cursor: pointer;
        &:hover{
            background-color: $Neutral100;
        }
    }

    .delete:hover{
        background-color: $Red500;
    }
}

body.dark{
    .ArciveDeleteMenu{
        button{
            
            border: 1px solid $Neutral600;

            &:hover{
                background-color: $Neutral700;
            }
        }
        .delete:hover{
            background-color: $Red500;
        }
    }
}