@import '../../../../partials/variables';
@import '../../../../partials/mixins';

body.dark .mobile_menu{
    background: $Neutral950;

    hr {
        background-color: $Neutral800;
    }

    button.active {
        background-color: $Neutral700;
    }
}

.mobile_menu{
    
    display: flex;
    padding: 12px 16px;
    justify-content: space-evenly;
    // border-top: solid 1px $Neutral200;
    box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.06);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $BaseWhite;

    hr {
        display: none;
        @include tablet {
            display: block;
            background-color: $Neutral100;
            width: 1px;
            border: none;
        }
    }
    button{
        border: none;
        width: 20%;
        border-radius: 4px;
        padding: 3px 0px;
        
        &:hover{
            cursor: pointer;
        }
        &.active {
            background-color: $Blue50;
        }
    
        @include tablet {
            width: 80px;
        }
    
        p{
            @include text-preset6;
            display: none;
            @include tablet {
                display: block;
            }
        }
    }
}




body.dark .mobile_menu button{
    color: $Neutral400;
}