@use "../../../partials/mixins" as mixins;
@import '../../../partials/variables';

.NotesPageDesktop{
    display: flex;

    .NotesPageDesktop{
        display: flex;
        flex-direction: column;
        width: 100%;

        .notes{
            padding: 20px 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: calc(100vh - 81.2px);
            box-sizing: border-box;
            
            .newNote-container{
                min-height: calc(100% - 74px);
            }

            hr{
                border: none;
                height: 1px;
                background-color: $Neutral200;
            }
        }
        
    }
}

body.dark{
    .NotesPageDesktop{
        .NotesPageDesktop{
            .notes{

                hr{
                    background-color: $Neutral800;
                }
            }
            
        }
    }
}